<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Todo lo que necesitas en un solo lugar
      </h1>

      <p class="subtitle">
        Flores, plantas y mucho más ...
      </p>
    </div>
  </div>
</section>
